<div class="row">
  <p class="caja1" style="font-size: 40px; font-weight: bold;">Cuida tu vida y las de los que te quieren</p>
  <div class="col-lg-12 up" style="margin-top: 100px;">
    <select class="form-select" aria-label="Default select example" style="width:30%; " [(ngModel)]="opcionSeleccionado" (change)="capturar()">
      <option value="0">Open this select menu</option>
      <option *ngFor="let dato of datos" >
        {{dato}}
      </option>
    </select>
    <div class="caja">
      <button type="button" class="btn btn-danger" style="width: 400px; font-size: 25px;" (click)="activarTabla()">Comenzar</button>
    </div>
  </div>
  <div class="col-lg-12 down" *ngIf="!mostrarDatos">
      <div class= "tabla" style="height: 100%; width: 80%;">
        <div style="padding-top: -100px;">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">IPA</th>
                <th scope="col">HERIDOS</th>
                <th scope="col">MORTALIDAD</th>
                <th scope="col">RESULTADO</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ident}}</th>
                <td>{{ ipa}}</td>
                <td>{{her}}</td>
                <td>{{mort}}</td>
                <td>{{result}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
